*{
    padding:0;
    margin:0;
}
body{
    background-size:cover;
    background-image:url(pro.jpeg);
    background-position:center;
    box-sizing:border-box;
    font-family:Arial;
    
    }
    .mane-bar{
        background:rgb(100,100,1);
        text-align:right;



    }
    .mane-bar ul{
        display:inline-flex;
        list-style: none;
        color:#fff;
        text-align:right;

    }
    .mane-bar ul li{

        width:120px;
        margin:10px;
        padding:15px;  

    }
    . .mane-bar ul li a{

        text-decoration:none;
        color:#fff  ;



    }
    .active,.mane-bar ul li:haver{
background:#2bab0d;
border-radius: 3px;

    }
    .manu-bar  .fa{
margin-right:8px;


}
.sub-manu-1{

    display:none;

}
.active,.mane-bar ul li:haver.sub-manu-1{

    display:none;
    position:absolute;
    background:rgb(0,100,0);
    margin:15px;
    margin-left:-15px;

}

.active,.mane-bar ul li:haver.sub-manu-1 ul{
dispaly:block;
margin:10px;

  } 
.active,.mane-bar ul li:haver.sub-manu-1 ul li{
    width:150px;
    padding:10px;
    border-bottom:1px dotted #fff;
    background:transparent;
    border-radius:0;
    text-align:left;
    


}
.mane-bar ul li:hover.sub-manu-1 ul li:last-child {

border-bottom:none;

}
.mane-bar ul li:hover.sub-manu-1 ul li a:hover{
color:#b2ff00;
}
